nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: yellow;
    padding: 5px;
  }

  .logo img {
    height: 100px;
    width: 105px;
  }
  
  .title {
    margin-left: 10%;
    font-size: 25px;
    font-weight: bolder;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav ul li a {
    display: block;
    padding: 10px 20px;
    color: #000000;
    text-decoration: none;
}

  nav ul li a:hover {
    background-color: #007bff;
    color: #ffffff;
}
  
  nav.secondary-nav {
    background-color: #f2f2f2;
    text-align: left;
    margin-left: 10px;
}

nav.secondary-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav.secondary-nav ul li {
    display: inline-block;
}

nav.secondary-nav ul li a {
    display: block;
    padding: 10px 20px;
    color: #000000;
    text-decoration: none;
}

nav.secondary-nav ul li a:hover {
    background-color: #007bff;
    color: #ffffff;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.dropdown-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.dropdown {
    text-align: center;
}

.dropdown h2 {
    font-size: 16px;
    margin-top: 0;
}

.dropdown select {
    width: 200px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.text-between1,.text-between2{
  font-size: 20px;
  color: #333;
}
.text-between1{margin: -50px 280px;}
.text-between2{margin: 25px 975px;}

@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
.theme-text {
  color: #474af0;
}

.card-img-top {
  height: 200px;
  width: 90%;
  margin: auto;
  margin-top: 5%;
}

.parth{
  margin-top: 50px;
  width: 325px;
  margin-left: 270px;
}

.bharat{
  margin-top: -335px;
  width: 325px;
  margin-left: 690px;
}

.card {
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

.card:hover { color: black; }

.card::before {
  content: "";
  position: absolute;
  left: -100%;
  top: 0%;
  background: yellow;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  z-index: -1;
}

.card:hover::before {
  left: 0%;
  color: white;
}

.container-fluid {
  background-image: url("blob-scene-haikei.svg");
  background-position: center;
  background-size: cover;
}
